<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0"
         metadata-complete="true">

  <display-name>Welcome to huangbo1221</display-name>
  <description>
    Welcome to Tomcat
  </description>

  <servlet>
    <servlet-name>cookiedemo1</servlet-name>
    <servlet-class>com.bo.day03.CookieDemoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cookiedemo1</servlet-name>
    <url-pattern>/cookie1</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>sessiontest1</servlet-name>
    <servlet-class>com.bo.day03.SessionDemoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sessiontest1</servlet-name>
    <url-pattern>/se1</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>sessiontest2</servlet-name>
    <servlet-class>com.bo.day03.SessionDemo2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sessiontest2</servlet-name>
    <url-pattern>/se2</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>sessiontest3</servlet-name>
    <servlet-class>com.bo.day03.SessionDemo3Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sessiontest3</servlet-name>
    <url-pattern>/se3</url-pattern>
  </servlet-mapping>

  <session-config>
    <!--  表示session在1分钟后自动注销  -->
    <session-timeout>1</session-timeout>
  </session-config>
</web-app>